/* Reset style */
:root {
    font-size: 1rem;
    font-family: $fontFamily;
    padding: 0;
    margin: 0;
}

body {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: $colorBody;
    color: $color;
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $linkcolor;
}

button,
.button {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid hsla(21, 164, 244, .5);
    padding: 5px;
    background: $colorButton;
    color: $colorButtontext;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 1px 1px rgb(21, 164, 247);
    text-transform: capitalize;

    &:hover {

        border: 2px solid hsla(21, 164, 244, .8);
        box-shadow: 2px 2px 2px rgb(0, 162, 255);

        margin: 9px;
    }
}

h1 {
    font-family: $fontHeading;
}

h2 {

    font-family: $fontHeading;
}

h3 {
    font-family: $fontHeading;
}



p {

    // @extend .gold;
    padding-top: 20px;
}

.section {
    margin-top: 15%;
    padding: 5%;

}

// .section:nth-child(even) {
//     border-radius: 10px;
//     background: hsla(66, 100%, 1%, .1);
//     box-shadow: 1px 1px 10px hsla(180, 100%, 50%, 0.534);
// }

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color;
    // max-width: 100%;
    // padding-left: 00%;
    // padding-right: 00%;

    #main {
        background: $colorBG;
        display: flex;
        flex-direction: column;

    }

}

.container {
    padding-left: 10%;
    padding-right: 10%;
}