/* Fonts and Variables */
@import url("https://fonts.googleapis.com/css?family=Exo|Play|Roboto+Mono|Unica+One");
/* Reset style */
:root {
  font-size: 1rem;
  font-family: "Roboto Mono", "Play", "Exo", "Verdana";
  padding: 0;
  margin: 0;
}

body {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #050729;
  color: #aaf2ff;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ddd;
}

button,
.button {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #006a94), to(#5e5f9c)) no-repeat scroll 0;
  background: linear-gradient(0deg, #006a94 80%, #5e5f9c 100%) no-repeat scroll 0;
  color: #fff;
  text-align: center;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 1px #15a4f7;
          box-shadow: 1px 1px 1px #15a4f7;
  text-transform: capitalize;
}

button:hover,
.button:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 2px 2px 2px #00a2ff;
          box-shadow: 2px 2px 2px #00a2ff;
  margin: 9px;
}

h1 {
  font-family: "Exo", "Verdana";
}

h2 {
  font-family: "Exo", "Verdana";
}

h3 {
  font-family: "Exo", "Verdana";
}

.section {
  margin-top: 30%;
  padding: 5%;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

#app #main {
  background: linear-gradient(-30deg, #050729 70%, #135d9a 200%) no-repeat scroll 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

#header {
  background: #04061b;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 255, 242, 0.8);
          box-shadow: 0px 2px 3px rgba(0, 255, 242, 0.8);
  z-index: 2;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header:hover {
  -webkit-box-shadow: 0px 5px 8px rgba(0, 255, 242, 0.8);
          box-shadow: 0px 5px 8px rgba(0, 255, 242, 0.8);
}

#header #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #title #sitetitle {
  display: block;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 15px;
}

#header #title #sitesubtitle {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 5px;
  padding-right: 15px;
}

#header nav #navul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header nav #navul li {
  text-transform: capitalize;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

#header nav #navul li:hover {
  background: rgba(37, 61, 168, 0.9);
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #181a35;
  width: 100%;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30%;
}

#footer #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  font-size: .8rem;
  font-weight: 200;
}

#footer #copyright p {
  padding-left: 10px;
  margin-left: 20px;
  padding-right: 10px;
  margin-right: 20px;
}

#footer a {
  color: #67bada;
}

/* template */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fileOpen {
  background: radial-gradient(rgba(255, 255, 255, 0.493) 0%, rgba(53, 173, 243, 0.493) 200%);
  padding: 50px;
  min-width: 400px;
  border-radius: 20px;
  margin: 50px;
  color: white;
  font-size: 2rem;
  text-align: left;
}

.tdl {
  width: 200px;
  margin-left: 30px;
  margin-right: 10px;
  text-align: right;
}

.input {
  min-width: 400px;
}

#screenshotScroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.screenshotdiv {
  width: 100%;
}

.screenshotimg {
  border-radius: 5px;
  margin: 5px;
  -webkit-box-shadow: 2px 2px 2px white;
          box-shadow: 2px 2px 2px white;
}

video {
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px white;
          box-shadow: 2px 2px 2px white;
  margin-bottom: 10%;
}

.screehshotimg {
  width: 100%;
  padding: 10px;
  position: relative;
  -webkit-transition: width .5s ease-in-out .5s;
  transition: width .5s ease-in-out .5s;
  -webkit-transition: position .5s ease-in-out .5s;
  transition: position .5s ease-in-out .5s;
}

.screehshotimg:hover {
  width: 70%;
  left: 5%;
  right: 5%;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 2;
  position: absolute;
}

.ytContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.ytVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
}
/*# sourceMappingURL=sitestyle.css.map */