#fileOpen {
    background: radial-gradient(hsla(0, 0%, 100%, 0.493) 0%, hsla(202, 89%, 58%, 0.493) 200%);
    padding: 50px;
    min-width: 400px;
    border-radius: 20px;
    margin: 50px;
    color: white;
    font-size: 2rem;
    text-align: left;

}

.tdl {
    width: 200px;
    margin-left: 30px;
    margin-right: 10px;
    text-align: right;
}

.input {
    min-width: 400px;
}

#chatwindow {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2em;
    padding: 1em;

    #dp {
        position: absolute;
        left: -40px;
        top: 50px;

        &:after {
            padding: 2px;
            content: 'Prateek';
            color: white
        }
    }

    #chat {
        position: sticky;
        bottom: 40vh;
        display: flex;
        flex-direction: column;
        background: hsla(125, 100%, 70%, 0);
        padding: 2em;
        max-width: 750px;
        align-items: flex-start;
        height: 60vh;
        overflow-y: scroll;
        margin-bottom: 10px;




        .chatbubble {
            margin-bottom: 2em;
            // margin-top: 2em;
            // z-index: 3;
            background: hsla(0, 0%, 100%, 0.178);
            padding: 1em 2em;
            box-shadow: rgb(212, 212, 238) 2px 2px 2px;
            border-radius: .5em;



        }
    }


    #mailform {
        display: flex;
        flex-direction: column;
        position: sticky;
        align-self: center;
        bottom: 0px;
        background: hsla(125, 100%, 70%, 0);
        margin-top: 1em;
        margin-bottom: 5em;
        padding: 2em;
        // max-width: 750px;
        // align-items: flex-start;
        width: 100%;

        #chatinput {

            width: 100%;
            height: 4em;
            scroll-behavior: auto;
            border-radius: .5em;
            color: black;
            font-size: 1rem;
            flex-grow: 1;
            padding: .5em;


        }

        #sendbutton {
            padding: .5em;
            background: #0c99b367;
            color: white;
            border-radius: .5em;
            height: 2em;
            width: 6em;
            // margin-left: 2em;
        }
    }
}

#contact {
    color: white;

    ul {

        display: block;

        li {
            display: inline-block;
            font-size: small;

            a {
                text-decoration: none;
                color: aqua;
                padding-left: 5px;
                padding-right: 5px;

                &:hover {
                    text-shadow: 2px 2px 3px #fff;
                }

            }

            &::after {
                content: '|';
            }

            &:first-child:before {
                content: '|';
            }

        }
    }
}

.section:nth-child(odd) {
    margin-top: 2em;
    padding-top: 2em
}